.body-sie-erp {
    font-family: 'Roboto', sans-serif !important;
    background-color: #fff !important;
    position: absolute;
    width: 100%;
}

.bg-roxo {
    color: #FFF !important;
    background-color: #324b73 !important;
}

.logo-sie-footer{
    width: 100%;
}

.align-mudar-sie {
    justify-content: center;
}

.text-acesso-integrado{
    font-size: 1.1em;
    font-weight: bold;
    color: #87BA33;
    margin-top: 30px;
    text-align: right;
}

.text-usuario-sie{
    font-size: 1em;
    font-weight: 400;
    text-align: right;
}

.btn-sair-sie{
    font-size: 0.8em !important;
    color: #FFF !important;
    background-color: #324b73 !important;
    border-radius: 0px 0px 4px 4px  !important;
}

.bg-instancia-sie{
    background-color: #FFF;
    border-radius: 5px 0 0 5px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 28px;
}

.bg-instancia-select{
    border-radius: 0 5px 5px 0 !important;
    border-left: 1px solid #000 !important;
    padding: 8px !important;
}

.text-icones-geral-sie{
    font-size: 1.05em;
    font-weight: 500;
    color: #324b73;
    text-decoration: none;
    height: 89px !important;
}

.text-icones-geral-sie:hover{
    font-size: 1.05em;
    font-weight: 500;
    color: #87ba33 !important;
    text-decoration: none;
}

.img-icone-geral-sie{
    float: left;
    width: 60px;
    margin-right: 10px;
    margin-left: 40px;
}

.logo-sie-faixa{
    width: 50%;
    margin-left: 18px;
}

.img-logo-sie{
    margin-top: -26px;
    margin-bottom: 20px;
    width: 100%;
}


/*FOOTER*/

.bg-footer {
    color: #FFF !important;
    background-color: #324b73 !important;
}

.footer-sie-erp {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
}


/*RESPONSIVO*/
@media screen and (max-width: 1199px){
}

@media screen and (max-width: 991px){
    .logo-sie-footer {
        width: 149%;
    }
    .logo-sie-faixa {
        width: 78%;
    }

    .bg-instancia-select {
        border-radius: 0 5px 5px 0 !important;
        border-left: 1px solid #000 !important;
        padding: 7px !important;
        font-size: 0.9em;
    }
    .bg-instancia-sie {
        padding: 8px 0px;
        font-size: 0.8em;
    }

    .text-icones-geral-sie {
        font-size: 0.8em;
        font-weight: 500;
        color: #324b73;
        text-decoration: none;
        height: 89px !important;
    }
}

@media screen and (max-width: 767px){
}

@media screen and (max-width: 321px){

}

@media screen and (max-width: 576px){

    .logo-sie-footer {
        width: 28%;
        padding-bottom: 11px;
        margin-right: 18px;
    }
    .align-logo-footer{
        text-align: center;
    }

    .logo-sie-faixa{
        width: 100% !important;
        margin-bottom: 23px;
    }
    .bg-instancia-sie {
        background-color: #FFF;
        border-radius: 5px 5px 5px 5px;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        padding: 7px 5px;
    }
    .align-mudar-sie {
        justify-content: flex-start !important;
        width: 100% !important;
    }
    .form-select-sie {
        font-size: 0.9rem !important;
        text-align: center;
    }
    .bg-instancia-select {

        padding: 4px !important;
        width: 100% !important;
    }
    .text-icones-geral-sie {
        font-size: 0.9em;
    }
    .align-logo-faixa{
        text-align: center;
    }
    .logo-sie-faixa {
        width: 50% !important;
    }
    .text-acesso-integrado {
        font-size: 0.8em !important;
        text-align: center;
    }

    .text-usuario-sie {
        font-size: 0.8em !important;
    }
    .text-copyright-sie{
        font-size: 0.9em !important;
    }
    .footer-space-sie{
        margin-top: 120px;
    }

}