constantDb.*
constantDb.php
constantCLI.php
config.php

*.pdf
pub/
views/pub/
views/public/
/module/profe/views/_faltaSeq/nbproject/private/
/module/profe/views/_faltaSeq/vendor/
ge.sql
/module/profe (cópia)/views/_faltaSeq/nbproject/private/
/module/profe (cópia)/views/_faltaSeq/vendor/
.DS_Store
vendor/*
nbproject/
tmp/

#Docker
.env
docker-compose.yml

