.element .text,body,html{
    line-height:1.4;
    margin:0
}
.bs-btn,.element .menu label{
    -webkit-touch-callout:none;
    -khtml-user-select:none
}
#bs,.bs-btn label,.element .embed,.element .menu,.slide{
    overflow:hidden
}
.bs-btn label,.bs-image,.element .embed,.element .shape,.slide,.slide>.slide-hover{
    height:100%;
    width:100%
}
body,html{
    background:0 0;
    padding:0
}
*{
    box-sizing:border-box
}
#bs{
    position:relative
}
.element,.slide{
    position:absolute
}
.background{
    background:50% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.background-aspect,.background-crop,.background-mask{
    background-repeat:no-repeat
}
.background-aspect,.background-crop,.image-aspect,.image-crop{
    background-position:50% 50%
}
.background-stretch{
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%
}
.background-crop{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.background-mask{
    -webkit-background-size:auto auto;
    -moz-background-size:auto auto;
    -o-background-size:auto auto;
    background-size:auto auto
}
.background-aspect{
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain
}
.background-tile{
    background-repeat:repeat
}
.image-aspect,.image-crop,.image-mask{
    background-repeat:no-repeat
}
.slide{
    left:0;top:0;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    transition:none
}
.slide>.slide-hover{
    display:none;
    left:0;
    position:absolute;
    top:0
}
.slide.buildin>.slide-hover,.slide.buildout>.slide-hover{
    display:block
}
.element .text{
    white-space:pre-wrap;
    word-break:normal;
    word-wrap:break-word
}
.element .shape.circle{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.element .menu{
    -webkit-align-content:center;
    align-content:center;
    -webkit-flex-wrap:nowrap;
    flex-wrap:nowrap;
    white-space:nowrap;
    display:-webkit-flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.element .menu label{
    cursor:pointer;
    display:inline-block;
    -webkit-flex:1 1 auto;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    text-align:center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.element .menu label span{
    display:inline-block;
    position:relative;
    white-space:nowrap
}
.element .menu.ie9{
    display:table;
    table-layout:auto}.element .menu.ie9 label{display:table-cell;padding:0 5px}.bs-btn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.bs-btn label{cursor:pointer;float:left;margin:0;position:absolute;text-align:center;top:0;white-space:pre-wrap}.bs-btn.no-hand-cursor label{cursor:default}.bs-clipart,.bs-clipart-blur{height:100%;position:relative;width:100%}.bs-clipart svg{position:absolute}.image-stretch{-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%}.image-crop{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.image-mask{-webkit-background-size:auto auto;-moz-background-size:auto auto;-o-background-size:auto auto;background-size:auto auto}.image-aspect{-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain}.image-tile{background-repeat:repeat}