@media print {
	div.noprint {
		display: none;
	}
}
a{
    text-decoration: none;
    color: black;
}



.field {
    margin: 0 auto;
    background: #fff;
    font-weight: bold;
    padding: 10px; 
    font-family:georgia,arial,sans-serif;
    font-size:15px;
    /*
box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); 
width: 98%;
border: solid #7E9AA7 0.5px;
border-radius: 8px;
    */
}

.fieldBorder {
    margin: 0 auto;
    background: #fff;
    font-weight: bold;
    padding: 10px; 
    font-family:georgia,arial,sans-serif;
    font-size:15px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); 
    border: solid #7E9AA7 0.5px;
    border-radius: 8px;
}

.fieldBorder2 {

    margin: 0 auto;
    font-weight: bold;
    padding: 10px; 
    font-family:georgia,arial,sans-serif;
    font-size:15px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); 
    border: solid #7E9AA7 0.5px;
    border-radius: 8px;
}


.fieldBody {
    margin: 0 auto;
    background: #fff;
    font-weight: bold;
    padding: 20px 10px; 
    font-family:georgia,arial,sans-serif;
    font-size:15px;
    /*box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); */
    width: 95%;
    /* border: solid #7E9AA7 0.5px;
     border-radius: 8px;*/
    min-height: 95vh;
}

.rowField {
    background: #fff;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); 
    border: solid #7E9AA7 0.5px;
    border-radius: 8px;
}

.fieldMain {
    background: -moz-linear-gradient(center top , #E0E0E0, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#E0E0E0), color-stop(100%,#cccccc)); 
    background: -webkit-linear-gradient(center top, #E0E0E0 0%,#cccccc 100%); 
    background: -o-linear-gradient(center top, #E0E0E0 0%,#cccccc 100%); 
    background: -ms-linear-gradient(center top, #E0E0E0 0%,#cccccc 100%); 
    background: linear-gradient(to bottom, #E0E0E0 0%,#cccccc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#cccccc',GradientType=0 ); 
    border-radius: 5px;
    margin: 0 auto;
    padding: 8px;
    border-spacing: 5px;
    width: 95%;
    font-weight: bold;
    padding: 10px; 
    border-width: 5px;
    border-color: #1A71B6;
    font-family:georgia,arial,sans-serif;
    font-size:15px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5); 
}

.fieldTop {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}


.fieldWhite {
    background: -moz-linear-gradient(center top , #eeeeee, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); 
    background: -webkit-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: -o-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: -ms-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#F0F0F0',GradientType=0 ); 
    border-radius: 5px;
    margin: 0 auto;
    padding: 8px;
    border-spacing: 5px;
    width: 95%;
}


.fieldBas {
    background: -moz-linear-gradient(center top , #eeeeee, #cccccc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); 
    background: -webkit-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: -o-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: -ms-linear-gradient(center top, #eeeeee 0%,#cccccc 100%); 
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); 
    border-radius: 5px;
    padding: 8px;
    border-spacing: 5px;
    margin: 0 auto;
    width: 80%;
    height: 90%
}

.fieldrow{
    min-width: 30px;
}
.fieldrow1{
    padding: 4px;
}

.fieldrow2{
    border-right: solid #888888 2px; 
    border-left: solid #888888 2px;
    background: -moz-linear-gradient(center top , #f8f8f8, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: -o-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: -ms-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: linear-gradient(to bottom, #f8f8f8 0%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 );
    padding: 4px;
    font-weight: 900;
}
.fieldrow3{
    background: -moz-linear-gradient(center top , #f8f8f8, #ffffff) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: -o-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: -ms-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%); 
    background: linear-gradient(to bottom, #f8f8f8 0%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 );
    padding: 4px;
    border-radius: 4px;
}
.fieldrow4{
    border: solid #7E9AA7 thin;
    padding: 4px;
}
.fieldrow5{
    background-color: #5bc0de;
    color: white;
    border: none;
    padding: 4px;
    font-weight: normal !important;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}
.fieldrow8{
    background-color: #7E9AA7;
    color: white;
    border: solid #7E9AA7 3px ;
    padding: 4px;
    font-weight: bold;
    font-size: 14px;
    width: 98%;
    margin-left: 1%;
}

.botaoForm{
    min-width: 90px;
    text-align: center; 
    font-weight: bold; 
    background-color: #FDFDFD; 
    border: solid #333 1px; 
    border-radius: 5px; 
    padding: 3px
}

.btni {
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: default;
    font-weight: bold;
}
button[data-balloon] {
  overflow: visible; }

[data-balloon] {
  position: relative;
  cursor: pointer; }
  [data-balloon]:after {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    font-size: 12px !important;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10; }
  [data-balloon]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: '';
    position: absolute;
    z-index: 10; }
  [data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    pointer-events: auto; }
  [data-balloon].font-awesome:after {
    font-family: FontAwesome; }
  [data-balloon][data-balloon-break]:after {
    white-space: pre; }
  [data-balloon][data-balloon-blunt]:before, [data-balloon][data-balloon-blunt]:after {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
  [data-balloon][data-balloon-pos="up"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:hover:after, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up"]:hover:before, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up-left"]:after {
    bottom: 100%;
    left: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:before {
    bottom: 100%;
    left: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:hover:after, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-left"]:hover:before, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:after {
    bottom: 100%;
    right: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:before {
    bottom: 100%;
    right: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:hover:after, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:hover:before, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down']:after {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:hover:after, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down']:hover:before, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down-left']:after {
    left: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:hover:after, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-left']:hover:before, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:after {
    right: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    right: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:hover:after, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:hover:before, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='left']:after {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:after, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:before, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:after {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:after, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:before, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-length='small']:after {
    white-space: normal;
    width: 80px; }
  [data-balloon][data-balloon-length='medium']:after {
    white-space: normal;
    width: 150px; }
  [data-balloon][data-balloon-length='large']:after {
    white-space: normal;
    width: 260px; }
  [data-balloon][data-balloon-length='xlarge']:after {
    white-space: normal;
    width: 380px; }
    @media screen and (max-width: 768px) {
      [data-balloon][data-balloon-length='xlarge']:after {
        white-space: normal;
        width: 90vw; } }
  [data-balloon][data-balloon-length='fit']:after {
    white-space: normal;
    width: 100%; }
  
  #ajaxLoader {
      display: none;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  
  #ajaxLoader img {
      margin: 10% 40%;
      position: fixed;
  }

.mapa_invisible {
    display: none;
}

.mapa_visible{
    display: block !important;
    height: 325px;
    margin: 10px 0;
}

/*
NOVAS TABELAS
*/
.table-bordered {
    border: none !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: inherit !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: none !important;
  border-bottom: 4px solid #fcfafa !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td {
  padding: 22px 8px 8px !important;
}

.table>thead>tr>th {
  vertical-align: middle !important;
  padding: 15px 5px !important;
}

.table-hover>tbody>tr:hover {
  background-color: #edfdff !important;
}